<p>
  <strong>Sid:</strong>
  <%= @incoming_message.sid %>
</p>

<p>
  <strong>Number:</strong>
  <%= @incoming_message.number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @incoming_message.content %>
</p>

<p>
  <strong>Created:</strong>
  <%= @incoming_message.created_at.strftime("%B %d, %Y") %>
</p>

<%= link_to 'All Incoming Messages', incoming_messages_path %>
