<p id="notice"><%= notice %></p>

<h1>Services</h1>

<br>

<h2>Internal</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Service ID</th>
      <th>Authentication token</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>twilio-mms</td>
      <td><%= current_user.email %></td>
      <td><%= current_user.authentication_token %></td>
    </tr>
  </tbody>
</table>

<br>

<h2>External</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Service ID</th>
      <th>Authentication token</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.service_id %></td>
        <td><%= service.authentication_token %></td>
        <td><%= service.updated_at.strftime("%B %d, %Y")  %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @services  %>

<%= link_to 'New Service', new_service_path %>
