<p id="notice"><%= notice %></p>

<h1>Outgoing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Zid</th>
      <th>Name</th>
      <th>Sid</th>
      <th>Number</th>
      <th>Status</th>
      <th>Message ID</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outgoing_messages.each do |outgoing_message| %>
      <tr>
        <td><%= outgoing_message.zid %></td>
        <td><%= outgoing_message.name %></td>
        <td><%= outgoing_message.sid %></td>
        <td><%= outgoing_message.number %></td>
        <td><%= outgoing_message.status %></td>
        <td><%= link_to outgoing_message.message_id, outgoing_message.message %></td>
        <td><%= outgoing_message.created_at.strftime("%B %d, %Y")  %></td>
        <td><%= link_to 'Show', outgoing_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @outgoing_messages  %>