<!DOCTYPE html>
<html>
  <head>
    <title>TwilioMms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <h1><%= link_to "Twilio MMS", root_url %></h1>
    </div>
    <div class="menu">
      <%= render partial: 'layouts/header' %>
    </div>
    <div class="clearfix"></div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
