<!DOCTYPE html>
<html>
  <head>
    <title>TwilioMms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <h1><%= link_to "Twilio MMS", root_url %></h1>
    </div>
    <div class="menu">
      <%= render partial: 'layouts/header' %>
    </div>
    <div class="clearfix"></div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>

    <% if request.host == "twiliomms.boopis.com" %>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/58b75f7e2dfdd91cf6ea37d7/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>
      <!--End of Tawk.to Script-->
    <% end %>
  </body>
</html>
